[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Flask = "==0.12.2"
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
sqlalchemy = "*"
"psycopg2" = "*"

[requires]
python_version = "3.6"
