<!doctype html>
<html ng-app="app">
  <head>
    <title>Sense TodoList</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body>
    <header>
      <div class="container">

        <div class="row">
          <div class="box">
            <div class="header-title">
              <h1>Sense TodoList</h1>
            </div>
          </div>
        </div>

      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="box">

            <div class="content">
              <div class="row top-bar">
                <div class="col-sm-3">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">
                    Add Task
                  </button>
                </div>

                <div class="col-sm-1 offset-sm-5 text-right">
                  View:
                </div>
                <div class="col-sm-3">
                  <select id="viewTaskState" class="selectpicker" multiple>
                    <option value="complete" selected>Complete</option>
                    <option value="incomplete" selected>Incomplete</option>
                  </select>
                </div>
              </div>

              <div class="row row-tasks" ng-controller="TaskListController">
                <div class="col-sm-12">
                  <div class="section-title">
                    <h3>Tasks</h3>
                  </div>

                  <div class="section-body">

                    <ul class="list-group">

                      <li ng-repeat="task in tasks" class="list-group-item task-item" ng-class="{'completed': task.completed, 'incomplete': !task.completed}">
                        <div class="row">
                          <div class="col-sm-1">
                            <a href="#" class="task-check" ng-click="toggleTask(task)" ng-class="{'completed': task.completed, 'incomplete': !task.completed}">
                              <i class="fa fa-check-square"></i>
                            </a>
                          </div>
                          <a href="#" class="col-sm-9" ng-click="editTask(task)">
                            {{task.description}}
                          </a>
                          <div class="col-sm-2 text-right">
                            Due: <font color="red">{{task.due_date | taskDate}}</font>
                          </div>
                        </div>
                      </li>

                    </ul>

                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </main>

    <footer>
    </footer>

    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-controller="AddTaskController">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form ng-submit="submit()">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Description:</label>
                <input type="text" class="form-control" id="recipient-name" ng-model="task.description">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Due date:</label>
                <input type="text" class="form-control datepicker" id="due-date" ng-model="task.due_date" readonly>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-controller="EditTaskController">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <form ng-submit="submit()">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit task: {{task.description}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Description:</label>
                <input type="text" class="form-control" id="recipient-name" ng-model="task.description">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Due date:</label>
                <input type="text" class="form-control datepicker" id="due-date" ng-model="task.due_date" readonly>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteTask()">Delete</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="static/js/app.js"></script>

    <script>
      $(document).ready(function() {
      $('input.datepicker').datepicker({
        language: 'pt-BR',
        startDate: new Date().toISOString()
      });
      });
    </script>
  </body>
</html>
