body {
    background-color: #f0f0f0;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.box {
    width: 100%;
    padding: 15px;
    padding-top: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: #ddd 1px 2px;
}

.header-title {
    border-bottom: 1px solid #aaa;
}

main .box {
    padding-top: 15px;
}

.row-tasks {
    padding-top: 25px;
}

main .top-bar .bootstrap-select {
    width: 100% !important;
}